{
  "openapi": "3.1.0",
  "info": {
    "title": "Omni Datastream API",
    "version": "2026-03-19",
    "description": "One API for investor agents spanning SEC, market, macro, factor, portfolio, and intelligence-query workloads."
  },
  "servers": [
    {
      "url": "https://api.secapi.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "Return OAuth protected resource metadata for hosted MCP and API clients"
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "Return or proxy OAuth authorization server metadata for the configured WorkOS tenant"
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Return the current authenticated principal and organization context"
      }
    },
    "/v1/org": {
      "get": {
        "summary": "Return the current organization profile"
      }
    },
    "/v1/admin/orgs": {
      "get": {
        "summary": "List operator-visible organizations with support-safe plan, usage, and recent activity summaries"
      }
    },
    "/v1/admin/orgs/{org_id}": {
      "get": {
        "summary": "Return an operator-facing organization snapshot with API keys, billing, usage, events, webhooks, streams, and delivery state"
      }
    },
    "/v1/admin/orgs/{org_id}/requests/{request_id}": {
      "get": {
        "summary": "Return operator-scoped request diagnostics for a tenant request identifier"
      }
    },
    "/v1/admin/orgs/{org_id}/deliveries/summary": {
      "get": {
        "summary": "Return operator-scoped delivery aggregates for webhook and stream activity within a tenant"
      }
    },
    "/v1/admin/maintenance/hot-lane": {
      "post": {
        "summary": "Run operator-scoped hot-lane polling to enqueue fresh SEC publication observations"
      }
    },
    "/v1/admin/maintenance/reconcile-hot": {
      "post": {
        "summary": "Run operator-scoped reconcile work to enqueue missing live hot-lane filings"
      }
    },
    "/v1/admin/maintenance/ingest-worker": {
      "post": {
        "summary": "Run operator-scoped ingest worker passes to materialize queued filing artifacts and sections"
      }
    },
    "/v1/admin/maintenance/ingest-queue": {
      "post": {
        "summary": "Export an operator-scoped ingest queue and checkpoint summary from the running Datastream service"
      }
    },
    "/v1/admin/maintenance/warm-market-latest": {
      "post": {
        "summary": "Warm search-visible manifests for the latest market-wide SEC filings by core form"
      }
    },
    "/v1/admin/maintenance/warm-market-data": {
      "post": {
        "summary": "Warm operator-scoped market snapshots, reference, estimates, bars, and corporate-action caches for covered symbols"
      }
    },
    "/v1/admin/maintenance/warm-macro-data": {
      "post": {
        "summary": "Bootstrap operator-scoped Tier-1 macro materialization for launch countries"
      }
    },
    "/v1/admin/maintenance/warm-factor-data": {
      "post": {
        "summary": "Warm operator-scoped factor returns, exposures, and correlations for covered symbols and factor categories"
      }
    },
    "/v1/admin/maintenance/company-mapping-identifiers": {
      "post": {
        "summary": "Backfill FIGI-family and security identifier coverage into the canonical entity store from operator-supplied universe rows"
      }
    },
    "/v1/billing/webhooks/stripe": {
      "post": {
        "summary": "Receive and process signed Stripe subscription lifecycle webhooks"
      }
    },
    "/v1/billing": {
      "get": {
        "summary": "Return the current organization's billing snapshot, including pricing posture, budget controls, and settlement provider state"
      }
    },
    "/v1/billing/rates": {
      "get": {
        "summary": "Return the public pricing catalog, plan metadata, and meter-family launch rates"
      }
    },
    "/v1/billing/payg/activate": {
      "post": {
        "summary": "Create a Stripe Checkout setup session that activates Pay As You Go card-on-file billing"
      }
    },
    "/v1/billing/quote": {
      "post": {
        "summary": "Quote a billable workflow or meter class against the current billing plan and budget gates"
      }
    },
    "/v1/billing/budget": {
      "put": {
        "summary": "Update organization-level spend caps, soft caps, and approval thresholds for PAYG usage"
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Create a Stripe Checkout session for a self-serve Personal or Team Omni Datastream plan"
      }
    },
    "/v1/billing/portal": {
      "post": {
        "summary": "Create a Stripe Billing Portal session for the current organization"
      }
    },
    "/v1/api_keys": {
      "get": {
        "summary": "List API keys for the current organization"
      },
      "post": {
        "summary": "Create a new API key for the current organization"
      }
    },
    "/v1/agent/bootstrap_tokens": {
      "post": {
        "summary": "Issue a short-lived, single-use sponsor token for agent bootstrap under the current organization"
      }
    },
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Exchange a sponsor token for the first org-scoped API key, billing snapshot, limits, and MCP install metadata"
      }
    },
    "/v1/dashboard/overview": {
      "get": {
        "summary": "Return the logged-in dashboard overview with principal, org, enriched billing, usage, and API key context"
      }
    },
    "/v1/events": {
      "get": {
        "summary": "List canonical event, webhook delivery, and stream records for the current organization"
      }
    },
    "/v1/events/export": {
      "get": {
        "summary": "Export filtered canonical events as JSON or NDJSON for support and operations"
      }
    },
    "/v1/diagnostics/requests/{request_id}": {
      "get": {
        "summary": "Return request-id scoped diagnostics across usage, events, deliveries, streams, and artifacts"
      }
    },
    "/v1/diagnostics/deliveries/summary": {
      "get": {
        "summary": "Return aggregated webhook and stream delivery summaries for support workflows"
      }
    },
    "/v1/observability": {
      "get": {
        "summary": "Return support-safe observability configuration and provider seam status"
      }
    },
    "/v1/observability/export": {
      "get": {
        "summary": "Return a support-safe observability export with config, usage, and recent events"
      }
    },
    "/v1/webhook_endpoints": {
      "get": {
        "summary": "List webhook endpoints for the current organization"
      },
      "post": {
        "summary": "Create a signed webhook endpoint for artifact and stream events"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/rotate_secret": {
      "post": {
        "summary": "Rotate the signing secret for a webhook endpoint"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/deliveries": {
      "get": {
        "summary": "List canonical delivery attempts for a webhook endpoint"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/deliveries/{delivery_id}/replay": {
      "post": {
        "summary": "Replay a stored webhook delivery attempt by re-emitting its source event to the endpoint"
      }
    },
    "/v1/stream_subscriptions": {
      "get": {
        "summary": "List stream subscriptions for the current organization"
      },
      "post": {
        "summary": "Create a stream subscription for event polling and replay"
      }
    },
    "/v1/stream_subscriptions/{stream_id}/events": {
      "get": {
        "summary": "Poll canonical stream events for a subscription with cursor semantics"
      }
    },
    "/v1/stream/tickets": {
      "post": {
        "summary": "Mint a short-lived signed WebSocket stream ticket for the current principal",
        "description": "Creates a short-lived signed ticket that can be sent as the `ticket` query parameter when upgrading to `/v1/stream/ws`. This avoids sending long-lived API keys or bearer tokens in browser-visible WebSocket URLs."
      }
    },
    "/v1/stream/ws": {
      "get": {
        "summary": "Upgrade to a WebSocket connection for real-time filing event streaming",
        "description": "Upgrades the HTTP connection to a WebSocket. Clients should supply a short-lived signed `ticket` query parameter minted from `POST /v1/stream/tickets`; legacy `api_key` and `bearer_token` query auth remains temporarily supported for backward compatibility while clients migrate. Streams `filing.published` events in real time with optional form/ticker filtering and cursor-based replay. Metered as `stream_connection` on upgrade and `stream_event` per delivery (1000/min default).",
        "parameters": [
          {
            "name": "ticket",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Preferred short-lived signed stream ticket minted from `POST /v1/stream/tickets`."
          },
          {
            "name": "forms",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated form types to filter (e.g. '10-K,8-K'). Case-insensitive."
          },
          {
            "name": "tickers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tickers to filter (e.g. 'AAPL,MSFT'). Case-insensitive."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Resume from a previous event cursor (e.g. 'sevt_...'). Events after this cursor are replayed on connect."
          }
        ],
        "responses": {
          "101": {
            "description": "WebSocket upgrade successful. Server sends JSON frames: connected, filing.published, pong, filters_updated, rate_limited."
          },
          "401": {
            "description": "Missing or invalid stream ticket"
          },
          "429": {
            "description": "Per-organization connection limit exceeded"
          },
          "503": {
            "description": "Global connection capacity exceeded"
          }
        }
      }
    },
    "/v1/entities/resolve": {
      "get": {
        "summary": "Resolve an entity by ticker, CIK, FIGI-family identifier, ISIN, CUSIP, or name with confidence and match-basis metadata"
      }
    },
    "/v1/entities": {
      "get": {
        "summary": "Search canonical SEC entities across issuers, managers, insiders, and funds"
      }
    },
    "/v1/traces": {
      "get": {
        "summary": "Batch resolve shared trace records by trace identifier across filing-derived and supported non-filing datasets"
      }
    },
    "/v1/traces/{trace_id}": {
      "get": {
        "summary": "Resolve a single shared trace record by trace identifier across filing-derived and supported non-filing datasets"
      }
    },
    "/v1/analytics/query": {
      "post": {
        "summary": "Run a tenant-safe analytical query over supported Datastream history datasets without exposing raw SQL"
      }
    },
    "/v1/filings": {
      "get": {
        "summary": "Search filing manifests with historical filters, accession lookup semantics, sorting, and cursor pagination"
      }
    },
    "/v1/filings/latest": {
      "get": {
        "summary": "Retrieve the latest filing for an entity and form"
      }
    },
    "/v1/filings/latest/render": {
      "get": {
        "summary": "Render the latest filing into Markdown-like text"
      }
    },
    "/v1/filings/latest/sections/{section_key}": {
      "get": {
        "summary": "Extract a section from the latest filing for an entity and form"
      }
    },
    "/v1/filings/latest/risk-categories": {
      "get": {
        "summary": "Return deterministic Item 1A risk-category coverage for the latest covered filing of an issuer"
      }
    },
    "/v1/board": {
      "get": {
        "summary": "Return the latest board composition derived from definitive proxy filings with director roster and committee coverage semantics"
      }
    },
    "/v1/funds/nport/holdings": {
      "get": {
        "summary": "Return the latest SEC N-PORT holdings roster with explicit capability semantics and balance-unit metadata"
      }
    },
    "/v1/filings/{accession_number}": {
      "get": {
        "summary": "Retrieve a filing manifest by accession number from the materialized filing corpus"
      }
    },
    "/v1/filings/{accession_number}/sections/{section_key}": {
      "get": {
        "summary": "Extract a filing item or section from a specific accession-number filing"
      }
    },
    "/v1/statements/segmented-revenues": {
      "get": {
        "summary": "Return filing-derived segmented revenue history with XBRL product or geography dimensions, capability state, and trace references when issuers disclose them"
      }
    },
    "/v1/statements/share-float": {
      "get": {
        "summary": "Return a share-float wrapper backed by SEC company facts, including disclosed public float when available and shares-outstanding fallback semantics otherwise"
      }
    },
    "/v1/sections/search": {
      "get": {
        "summary": "Search filing sections and snippets with filing-scoped filters and cursor pagination"
      }
    },
    "/v1/offerings": {
      "get": {
        "summary": "Return recent S-1 and 424B prospectus records with cursor pagination and date filters"
      }
    },
    "/v1/events/ma": {
      "get": {
        "summary": "Return SEC-native M&A events inferred from public-company filings and relevant exhibits"
      }
    },
    "/v1/events/enforcement": {
      "get": {
        "summary": "Return official SEC litigation releases and administrative proceedings with explicit release-source semantics and shared trace references"
      }
    },
    "/v1/earnings/transcripts": {
      "get": {
        "summary": "Return SEC-furnished earnings materials from 8-K filings with release, remarks, and transcript coverage states"
      }
    },
    "/v1/market/calendar": {
      "get": {
        "summary": "Return market calendar sessions for supported exchanges with source coverage metadata"
      }
    },
    "/v1/market/indices": {
      "get": {
        "summary": "Return the supported public index roster inventory and optionally include the broader rights-tracked index source catalog"
      }
    },
    "/v1/market/indices/constituents": {
      "get": {
        "summary": "Return rights-safe index constituents for supported benchmark families with canonical entity mapping when available"
      }
    },
    "/v1/market/snapshots": {
      "get": {
        "summary": "Return persisted latest-market snapshots for one or more securities with freshness, rights, and revision metadata"
      }
    },
    "/v1/market/bars": {
      "get": {
        "summary": "Return historical OHLCV bars for a security with materialization and rights metadata"
      }
    },
    "/v1/market/corporate-actions": {
      "get": {
        "summary": "Return rights-reviewed corporate actions used to normalize price history and event analysis"
      }
    },
    "/v1/market/reference": {
      "get": {
        "summary": "Return canonical market reference metadata for a security, including identifiers, exchange, and listing context"
      }
    },
    "/v1/news/stories": {
      "get": {
        "summary": "Return rights-safe news stories with entity tagging, provenance, and source-rights metadata"
      }
    },
    "/v1/news/search": {
      "get": {
        "summary": "Search rights-safe news coverage and issuer communications by symbol, entity, or topic"
      }
    },
    "/v1/macro/indicators": {
      "get": {
        "summary": "Return official-source macro indicator observations with revision-aware provenance and country-quality metadata"
      }
    },
    "/v1/macro/releases": {
      "get": {
        "summary": "Return macro release observations with actual, prior, consensus, and surprise metadata"
      }
    },
    "/v1/macro/calendar": {
      "get": {
        "summary": "Return the macro event calendar for supported official-source releases and central-bank events"
      }
    },
    "/v1/macro/forecasts": {
      "get": {
        "summary": "Return OMNI forecast baselines and scenario-aware macro projections with methodology metadata"
      }
    },
    "/v1/factors/catalog": {
      "get": {
        "summary": "Return the OMNI factor catalog with methodology, proxy, and orthogonalization metadata"
      }
    },
    "/v1/factors/returns": {
      "get": {
        "summary": "Return factor return history, z-scores, and volatility-scaled series for supported factor families"
      }
    },
    "/v1/factors/exposures": {
      "get": {
        "summary": "Return security, portfolio, or watchlist factor exposures with model metadata and provenance"
      }
    },
    "/v1/factors/correlations": {
      "get": {
        "summary": "Return factor-to-factor and factor-to-security correlation surfaces for strategy and risk workflows"
      }
    },
    "/v1/factors/screen": {
      "get": {
        "summary": "Return factor screens ranked by recent strength so agents can run factor-rotation and cross-factor ranking workflows"
      }
    },
    "/v1/factors/decomposition": {
      "get": {
        "summary": "Return factor-attribution decomposition for a security over a bounded lookback window with explained return, alpha, and methodology metadata"
      }
    },
    "/v1/factors/related-stocks": {
      "get": {
        "summary": "Return related stocks ranked by factor-overlap similarity for peer discovery and hedge ideation"
      }
    },
    "/v1/factors/similarity-pack": {
      "get": {
        "summary": "Return a custom thematic similarity pack that combines factor-overlap peers with deterministic EDGAR/news-derived theme labels"
      }
    },
    "/v1/portfolio/analyze": {
      "post": {
        "summary": "Return factor exposures, attribution, and hedge suggestions for a portfolio in one deterministic response"
      }
    },
    "/v1/portfolio/stress-test": {
      "post": {
        "summary": "Run portfolio stress scenarios across factor and macro shock definitions with compact traceable outputs"
      }
    },
    "/v1/portfolio/optimize": {
      "post": {
        "summary": "Return portfolio optimization recommendations for factor neutrality, hedging, and regime-aware objectives"
      }
    },
    "/v1/strategies/factor-rotation": {
      "post": {
        "summary": "Return factor-rotation recommendations informed by macro regime context and factor state"
      }
    },
    "/v1/strategies/regime-screen": {
      "post": {
        "summary": "Return regime-aware security screens with factor, macro, and filing-aware filters"
      }
    },
    "/v1/intelligence/query": {
      "post": {
        "summary": "Compile an allocator prompt into a deterministic one-call intelligence workload with compact traced output"
      }
    },
    "/v1/intelligence/query/{jobId}": {
      "get": {
        "summary": "Poll an async intelligence workload until the final traced result is ready"
      }
    },
    "/v1/intelligence/security": {
      "get": {
        "summary": "Return a one-call security bundle with snapshot, catalysts, filings, and factor context"
      }
    },
    "/v1/intelligence/company": {
      "get": {
        "summary": "Return a one-call company bundle spanning market, filings, ownership, macro, factor, and risk context"
      }
    },
    "/v1/intelligence/earnings-preview": {
      "get": {
        "summary": "Return an earnings preview bundle with estimates, drivers, risks, and traceable supporting context"
      }
    },
    "/v1/intelligence/portfolio": {
      "post": {
        "summary": "Return a one-call portfolio intelligence bundle with exposures, stress scenarios, events, and hedge ideas"
      }
    },
    "/v1/intelligence/watchlist": {
      "post": {
        "summary": "Return a watchlist briefing bundle with movers, catalysts, factor context, and regime overlays"
      }
    },
    "/v1/intelligence/country-report": {
      "post": {
        "summary": "Return a country intelligence bundle covering the prior period's macro path, likely drivers, and forward view"
      }
    },
    "/v1/signals/volatility": {
      "get": {
        "summary": "Return the OMNI volatility score with transparent factor breakdown and freshness metadata"
      }
    },
    "/v1/facts": {
      "get": {
        "summary": "Return normalized SEC company facts for an issuer, concept, and optional form or unit"
      }
    },
    "/v1/statements": {
      "get": {
        "summary": "Return a normalized statement bundle backed by SEC company facts"
      }
    },
    "/v1/statements/all": {
      "get": {
        "summary": "Return the balance sheet, income statement, and cash flow statement as one normalized bundle"
      }
    },
    "/v1/statements/{statement_key}": {
      "get": {
        "summary": "Return a specific normalized statement bundle keyed by statement type"
      }
    },
    "/v1/owners/13f": {
      "get": {
        "summary": "Return the latest normalized 13F ownership report for a manager CIK, with optional quarter-specific selection"
      }
    },
    "/v1/owners/institutional/investor": {
      "get": {
        "summary": "Return an investor-centric institutional ownership graph for a manager CIK, including ranked holdings and quarter-over-quarter changes"
      }
    },
    "/v1/owners/institutional/extract": {
      "get": {
        "summary": "Return a quarter-specific historical institutional ownership extract for a manager CIK over the SEC-native 13F family"
      }
    },
    "/v1/owners/institutional/ticker": {
      "get": {
        "summary": "Return a ticker-centric institutional holder graph for the latest materialized 13F cohort, ranked by disclosed position value"
      }
    },
    "/v1/owners/13f/filings": {
      "get": {
        "summary": "List recent 13F filings, including quarter-end report dates, for a manager CIK"
      }
    },
    "/v1/owners/13d-13g": {
      "get": {
        "summary": "List beneficial ownership reports across the SEC-native 13D and 13G filing families"
      }
    },
    "/v1/owners/13f/compare": {
      "post": {
        "summary": "Compare the latest two 13F ownership reports for a manager CIK"
      }
    },
    "/v1/insiders": {
      "get": {
        "summary": "Return recent normalized insider trading records derived from Forms 3, 4, and 5 with date filters and cursor pagination"
      }
    },
    "/v1/compensation": {
      "get": {
        "summary": "Return normalized executive compensation records derived from the latest DEF 14A filing"
      }
    },
    "/v1/compensation/compare": {
      "post": {
        "summary": "Compare the latest two executive compensation disclosures for an issuer"
      }
    },
    "/v1/artifacts": {
      "get": {
        "summary": "List canonical artifacts for the current organization"
      },
      "post": {
        "summary": "Create and persist a derived artifact bundle"
      }
    },
    "/v1/artifacts/summary": {
      "get": {
        "summary": "Return artifact lifecycle counts by kind, status, and storage mode"
      }
    },
    "/v1/artifacts/{artifact_id}": {
      "get": {
        "summary": "Fetch persisted artifact metadata"
      }
    },
    "/v1/artifacts/{artifact_id}/manifest": {
      "get": {
        "summary": "Fetch the structured manifest for a persisted artifact"
      }
    },
    "/v1/artifacts/{artifact_id}/export": {
      "get": {
        "summary": "Export an artifact as structured JSON or a markdown-oriented download envelope"
      }
    },
    "/v1/artifacts/{artifact_id}/download": {
      "get": {
        "summary": "Download or redirect to the persisted artifact payload"
      }
    },
    "/v1/artifacts/{artifact_id}/reconcile": {
      "post": {
        "summary": "Reconcile artifact metadata with object storage and upload if needed"
      }
    },
    "/v1/search/fulltext": {
      "get": {
        "summary": "Full-text search across filing content and section text via Typesense",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            }
          }
        ]
      }
    },
    "/v1/advisers": {
      "get": {
        "summary": "Search SEC Form ADV investment adviser filings by name, CIK, or state",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Adviser name or keyword"
          },
          {
            "name": "cik",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ]
      }
    },
    "/v1/market/financials": {
      "get": {
        "summary": "Financial statements (income, balance sheet, cash flow) for a ticker via MASSIVE/Polygon",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/v1/market/search": {
      "get": {
        "summary": "Search for stock tickers by company name or keyword",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ]
      }
    },
    "/v1/market/estimates": {
      "get": {
        "summary": "Return analyst consensus ratings and price-target estimates for a ticker via Massive/Benzinga",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ]
      }
    },
    "/v1/filings/{accession_number}/download": {
      "get": {
        "summary": "Redirect to the SEC EDGAR source document for a filing by accession number"
      }
    },
    "/v1/filings/{accession_number}/export": {
      "get": {
        "summary": "Export a filing as JSON, Markdown, CSV, XLSX, DOCX, or PDF",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "markdown",
                "csv",
                "xlsx",
                "docx",
                "pdf"
              ]
            },
            "description": "Export format; defaults to json when omitted"
          },
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/mcp": {
      "post": {
        "summary": "Hosted MCP transport endpoint"
      }
    }
  },
  "components": {
    "schemas": {
      "Entity": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "entity"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityType": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "cik": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "identifiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "normalized": {
                  "type": "string"
                },
                "isPrimary": {
                  "type": "boolean",
                  "default": false
                },
                "provenance": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "firstSeenAt": {
                  "type": "string",
                  "nullable": true
                },
                "lastSeenAt": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "type",
                "value",
                "normalized"
              ],
              "additionalProperties": false
            },
            "default": []
          },
          "resolution": {
            "type": "object",
            "properties": {
              "confidence": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "matchBasis": {
                "type": "string"
              },
              "matchedValue": {
                "type": "string",
                "nullable": true
              },
              "staleSymbol": {
                "type": "boolean",
                "default": false
              }
            },
            "required": [
              "confidence",
              "matchBasis"
            ],
            "additionalProperties": false
          },
          "jurisdiction": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "merged",
              "conflicted"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "ticker",
          "cik",
          "name",
          "jurisdiction",
          "provenance"
        ],
        "additionalProperties": false
      },
      "Filing": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "filing"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "form": {
            "type": "string"
          },
          "filingDate": {
            "type": "string"
          },
          "reportDate": {
            "type": "string",
            "nullable": true
          },
          "accessionNumber": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summaryMd": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "form",
          "filingDate",
          "accessionNumber",
          "title",
          "provenance"
        ],
        "additionalProperties": false
      },
      "Section": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "section"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "filingId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "form": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "contentMd": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "trace": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "filing_fact",
                  "filing_excerpt",
                  "derived_metric",
                  "source_record"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "supported",
                  "degraded",
                  "unavailable"
                ]
              },
              "href": {
                "type": "string"
              },
              "page": {
                "type": "integer",
                "exclusiveMinimum": true,
                "minimum": 0,
                "nullable": true
              },
              "region": {
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/properties/trace/properties/status"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "inline_xbrl_fact",
                      "html_text_range"
                    ],
                    "nullable": true
                  },
                  "startOffset": {
                    "type": "integer",
                    "minimum": 0,
                    "nullable": true
                  },
                  "endOffset": {
                    "type": "integer",
                    "minimum": 0,
                    "nullable": true
                  },
                  "snippet": {
                    "type": "string",
                    "nullable": true
                  },
                  "viewerFragment": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "status"
                ],
                "additionalProperties": false,
                "nullable": true
              }
            },
            "required": [
              "id",
              "kind",
              "status",
              "href"
            ],
            "additionalProperties": false
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "filingId",
          "key",
          "title",
          "contentMd",
          "provenance"
        ],
        "additionalProperties": false
      },
      "StatementBundle": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "statement_bundle"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly"
            ]
          },
          "statements": {
            "type": "object",
            "properties": {
              "balanceSheet": {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "statement"
                    ]
                  },
                  "id": {
                    "type": "string"
                  },
                  "createdAt": {
                    "type": "string"
                  },
                  "livemode": {
                    "type": "boolean"
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "ticker": {
                    "type": "string",
                    "nullable": true
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "statementKey": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "period": {
                    "type": "string",
                    "enum": [
                      "annual",
                      "quarterly"
                    ]
                  },
                  "periods": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "periodEnd": {
                          "type": "string"
                        },
                        "filedAt": {
                          "type": "string",
                          "nullable": true
                        },
                        "form": {
                          "type": "string",
                          "nullable": true
                        },
                        "fy": {
                          "type": "number",
                          "nullable": true
                        },
                        "fp": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "periodEnd",
                        "filedAt",
                        "form",
                        "fy",
                        "fp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "tag": {
                          "type": "string"
                        },
                        "taxonomy": {
                          "type": "string"
                        },
                        "label": {
                          "type": "string"
                        },
                        "unit": {
                          "type": "string",
                          "nullable": true
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "periodEnd": {
                                "$ref": "#/properties/statements/properties/balanceSheet/properties/periods/items/properties/periodEnd"
                              },
                              "filedAt": {
                                "$ref": "#/properties/statements/properties/balanceSheet/properties/periods/items/properties/filedAt"
                              },
                              "form": {
                                "$ref": "#/properties/statements/properties/balanceSheet/properties/periods/items/properties/form"
                              },
                              "fy": {
                                "$ref": "#/properties/statements/properties/balanceSheet/properties/periods/items/properties/fy"
                              },
                              "fp": {
                                "$ref": "#/properties/statements/properties/balanceSheet/properties/periods/items/properties/fp"
                              },
                              "value": {
                                "type": "number",
                                "nullable": true
                              }
                            },
                            "required": [
                              "periodEnd",
                              "filedAt",
                              "form",
                              "fy",
                              "fp",
                              "value"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "key",
                        "tag",
                        "taxonomy",
                        "label",
                        "unit",
                        "values"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "provenance": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "string"
                      },
                      "accessionNumber": {
                        "type": "string",
                        "nullable": true
                      },
                      "filingUrl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "acceptedAt": {
                        "type": "string",
                        "nullable": true
                      },
                      "retrievedAt": {
                        "type": "string"
                      },
                      "parserVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "source",
                      "accessionNumber",
                      "filingUrl",
                      "retrievedAt",
                      "parserVersion"
                    ],
                    "additionalProperties": false
                  },
                  "freshness": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "fresh",
                          "stale",
                          "degraded",
                          "unknown"
                        ]
                      },
                      "asOf": {
                        "type": "string"
                      },
                      "sourcePublishedAt": {
                        "type": "string",
                        "nullable": true
                      },
                      "lagMs": {
                        "type": "integer",
                        "minimum": 0,
                        "nullable": true
                      }
                    },
                    "required": [
                      "status",
                      "asOf"
                    ],
                    "additionalProperties": false
                  },
                  "materialization": {
                    "type": "object",
                    "properties": {
                      "parserVersion": {
                        "type": "string"
                      },
                      "materializationVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "parserVersion",
                      "materializationVersion"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "object",
                  "id",
                  "createdAt",
                  "livemode",
                  "entityId",
                  "ticker",
                  "companyName",
                  "statementKey",
                  "title",
                  "period",
                  "periods",
                  "rows",
                  "provenance"
                ],
                "additionalProperties": false
              },
              "incomeStatement": {
                "$ref": "#/properties/statements/properties/balanceSheet"
              },
              "cashFlowStatement": {
                "$ref": "#/properties/statements/properties/balanceSheet"
              }
            },
            "required": [
              "balanceSheet",
              "incomeStatement",
              "cashFlowStatement"
            ],
            "additionalProperties": false
          },
          "provenance": {
            "$ref": "#/properties/statements/properties/balanceSheet/properties/provenance"
          },
          "freshness": {
            "$ref": "#/properties/statements/properties/balanceSheet/properties/freshness"
          },
          "materialization": {
            "$ref": "#/properties/statements/properties/balanceSheet/properties/materialization"
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "companyName",
          "period",
          "statements",
          "provenance"
        ],
        "additionalProperties": false
      },
      "FactPoint": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "fact_point"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "taxonomy": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "periodStart": {
            "type": "string",
            "nullable": true
          },
          "periodEnd": {
            "type": "string"
          },
          "filedAt": {
            "type": "string",
            "nullable": true
          },
          "form": {
            "type": "string",
            "nullable": true
          },
          "fy": {
            "type": "number",
            "nullable": true
          },
          "fp": {
            "type": "string",
            "nullable": true
          },
          "frame": {
            "type": "string",
            "nullable": true
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "companyName",
          "taxonomy",
          "tag",
          "label",
          "unit",
          "value",
          "periodStart",
          "periodEnd",
          "filedAt",
          "form",
          "fy",
          "fp",
          "frame",
          "provenance"
        ],
        "additionalProperties": false
      },
      "ShareFloat": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "share_float"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "cik": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "asOf": {
            "type": "string"
          },
          "form": {
            "type": "string",
            "nullable": true
          },
          "filingDate": {
            "type": "string",
            "nullable": true
          },
          "reportDate": {
            "type": "string",
            "nullable": true
          },
          "capability": {
            "type": "string",
            "enum": [
              "supported",
              "not_disclosed",
              "degraded",
              "unavailable"
            ]
          },
          "sourceMode": {
            "type": "string",
            "enum": [
              "company_facts",
              "shares_outstanding_proxy",
              "not_disclosed",
              "unavailable"
            ]
          },
          "statusNote": {
            "type": "string",
            "nullable": true
          },
          "publicFloatUsd": {
            "type": "number",
            "nullable": true
          },
          "sharesOutstanding": {
            "type": "number",
            "nullable": true
          },
          "xbrlData": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "facts": {
            "type": "object",
            "properties": {
              "publicFloatUsd": {
                "type": "object",
                "properties": {
                  "taxonomy": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "unit": {
                    "type": "string"
                  },
                  "value": {
                    "type": "number"
                  },
                  "periodEnd": {
                    "type": "string"
                  },
                  "filedAt": {
                    "type": "string",
                    "nullable": true
                  },
                  "form": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "taxonomy",
                  "tag",
                  "label",
                  "unit",
                  "value",
                  "periodEnd",
                  "filedAt",
                  "form"
                ],
                "additionalProperties": false,
                "nullable": true
              },
              "sharesOutstanding": {
                "allOf": [
                  {
                    "$ref": "#/properties/facts/properties/publicFloatUsd"
                  }
                ],
                "nullable": true
              }
            },
            "required": [
              "publicFloatUsd",
              "sharesOutstanding"
            ],
            "additionalProperties": false
          },
          "summaryMd": {
            "type": "string"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "cik",
          "companyName",
          "asOf",
          "form",
          "filingDate",
          "reportDate",
          "capability",
          "sourceMode",
          "statusNote",
          "publicFloatUsd",
          "sharesOutstanding",
          "xbrlData",
          "facts",
          "summaryMd",
          "provenance"
        ],
        "additionalProperties": false
      },
      "SegmentedRevenueSeries": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "segmented_revenue_series"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly"
            ]
          },
          "capability": {
            "type": "string",
            "enum": [
              "supported",
              "not_disclosed",
              "degraded",
              "unavailable"
            ]
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "segmentAxis": {
                  "type": "string"
                },
                "segmentMember": {
                  "type": "string"
                },
                "segmentLabel": {
                  "type": "string"
                },
                "segmentType": {
                  "type": "string",
                  "enum": [
                    "geographic",
                    "product",
                    "other"
                  ]
                },
                "taxonomy": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "unit": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                },
                "periodStart": {
                  "type": "string",
                  "nullable": true
                },
                "periodEnd": {
                  "type": "string"
                },
                "filingDate": {
                  "type": "string"
                },
                "reportDate": {
                  "type": "string",
                  "nullable": true
                },
                "form": {
                  "type": "string"
                },
                "accessionNumber": {
                  "type": "string"
                },
                "capability": {
                  "$ref": "#/properties/capability"
                },
                "trace": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "filing_fact",
                        "filing_excerpt",
                        "derived_metric",
                        "source_record"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "supported",
                        "degraded",
                        "unavailable"
                      ]
                    },
                    "href": {
                      "type": "string"
                    },
                    "page": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "minimum": 0,
                      "nullable": true
                    },
                    "region": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "$ref": "#/properties/records/items/properties/trace/properties/status"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "inline_xbrl_fact",
                            "html_text_range"
                          ],
                          "nullable": true
                        },
                        "startOffset": {
                          "type": "integer",
                          "minimum": 0,
                          "nullable": true
                        },
                        "endOffset": {
                          "type": "integer",
                          "minimum": 0,
                          "nullable": true
                        },
                        "snippet": {
                          "type": "string",
                          "nullable": true
                        },
                        "viewerFragment": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "kind",
                    "status",
                    "href"
                  ],
                  "additionalProperties": false
                },
                "provenance": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "string"
                    },
                    "accessionNumber": {
                      "type": "string",
                      "nullable": true
                    },
                    "filingUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "acceptedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "retrievedAt": {
                      "type": "string"
                    },
                    "parserVersion": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "source",
                    "accessionNumber",
                    "filingUrl",
                    "retrievedAt",
                    "parserVersion"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "segmentAxis",
                "segmentMember",
                "segmentLabel",
                "taxonomy",
                "tag",
                "unit",
                "value",
                "periodStart",
                "periodEnd",
                "filingDate",
                "reportDate",
                "form",
                "accessionNumber",
                "provenance"
              ],
              "additionalProperties": false
            }
          },
          "provenance": {
            "$ref": "#/properties/records/items/properties/provenance"
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "companyName",
          "period",
          "records",
          "provenance"
        ],
        "additionalProperties": false
      },
      "BoardComposition": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "board_composition"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "cik": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "form": {
            "type": "string"
          },
          "filingDate": {
            "type": "string"
          },
          "reportDate": {
            "type": "string",
            "nullable": true
          },
          "accessionNumber": {
            "type": "string"
          },
          "capability": {
            "type": "string",
            "enum": [
              "supported",
              "not_disclosed",
              "degraded",
              "unavailable"
            ]
          },
          "committeeCoverage": {
            "type": "string",
            "enum": [
              "complete",
              "partial",
              "none"
            ]
          },
          "statusNote": {
            "type": "string",
            "nullable": true
          },
          "directorCount": {
            "type": "number"
          },
          "directors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "roleTitle": {
                  "type": "string",
                  "nullable": true
                },
                "nominationStatus": {
                  "type": "string",
                  "enum": [
                    "nominee",
                    "continuing",
                    "departing",
                    "unknown"
                  ]
                },
                "independence": {
                  "type": "string",
                  "enum": [
                    "independent",
                    "non_independent",
                    "unknown"
                  ]
                },
                "committees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "chairCommittees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "age": {
                  "type": "number",
                  "nullable": true
                },
                "directorSince": {
                  "type": "number",
                  "nullable": true
                },
                "biographySnippet": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "name",
                "roleTitle",
                "nominationStatus",
                "independence",
                "committees",
                "chairCommittees",
                "age",
                "directorSince",
                "biographySnippet"
              ],
              "additionalProperties": false
            }
          },
          "summaryMd": {
            "type": "string"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "cik",
          "companyName",
          "form",
          "filingDate",
          "reportDate",
          "accessionNumber",
          "capability",
          "committeeCoverage",
          "statusNote",
          "directorCount",
          "directors",
          "summaryMd",
          "provenance"
        ],
        "additionalProperties": false
      },
      "NportHoldings": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "nport_holdings"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "cik": {
            "type": "string",
            "nullable": true
          },
          "fundName": {
            "type": "string"
          },
          "form": {
            "type": "string"
          },
          "filingDate": {
            "type": "string"
          },
          "reportDate": {
            "type": "string",
            "nullable": true
          },
          "accessionNumber": {
            "type": "string"
          },
          "capability": {
            "type": "string",
            "enum": [
              "supported",
              "not_disclosed",
              "degraded",
              "unavailable"
            ]
          },
          "statusNote": {
            "type": "string",
            "nullable": true
          },
          "holdingCount": {
            "type": "number"
          },
          "holdings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string"
                },
                "title": {
                  "type": "string",
                  "nullable": true
                },
                "cusip": {
                  "type": "string",
                  "nullable": true
                },
                "isin": {
                  "type": "string",
                  "nullable": true
                },
                "valueUsd": {
                  "type": "number",
                  "nullable": true
                },
                "balance": {
                  "type": "number",
                  "nullable": true
                },
                "balanceUnit": {
                  "type": "string",
                  "nullable": true
                },
                "assetType": {
                  "type": "string",
                  "nullable": true
                },
                "issuerType": {
                  "type": "string",
                  "nullable": true
                },
                "country": {
                  "type": "string",
                  "nullable": true
                },
                "currency": {
                  "type": "string",
                  "nullable": true
                },
                "pctNetAssets": {
                  "type": "number",
                  "nullable": true
                }
              },
              "required": [
                "issuer",
                "title",
                "cusip",
                "isin",
                "valueUsd",
                "balance",
                "balanceUnit",
                "assetType",
                "issuerType",
                "country",
                "currency",
                "pctNetAssets"
              ],
              "additionalProperties": false
            }
          },
          "summaryMd": {
            "type": "string"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "cik",
          "fundName",
          "form",
          "filingDate",
          "reportDate",
          "accessionNumber",
          "capability",
          "statusNote",
          "holdingCount",
          "holdings",
          "summaryMd",
          "provenance"
        ],
        "additionalProperties": false
      },
      "RiskCategoryReport": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "risk_category_report"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string"
          },
          "form": {
            "type": "string"
          },
          "filingDate": {
            "type": "string"
          },
          "reportDate": {
            "type": "string",
            "nullable": true
          },
          "accessionNumber": {
            "type": "string"
          },
          "sectionKey": {
            "type": "string",
            "enum": [
              "item_1a"
            ]
          },
          "capability": {
            "type": "string",
            "enum": [
              "supported",
              "not_disclosed",
              "degraded",
              "unavailable"
            ]
          },
          "statusNote": {
            "type": "string",
            "nullable": true
          },
          "categoryCount": {
            "type": "number"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "enum": [
                    "macroeconomic_demand",
                    "regulatory_legal",
                    "cybersecurity_privacy",
                    "competition_market",
                    "supply_chain_operations",
                    "international_geopolitical",
                    "liquidity_capital",
                    "technology_product"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "confidence": {
                  "type": "string",
                  "enum": [
                    "high",
                    "medium",
                    "low"
                  ]
                },
                "mentionCount": {
                  "type": "number"
                },
                "signals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "snippets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "key",
                "label",
                "confidence",
                "mentionCount",
                "signals",
                "snippets"
              ],
              "additionalProperties": false
            }
          },
          "summaryMd": {
            "type": "string"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "companyName",
          "form",
          "filingDate",
          "reportDate",
          "accessionNumber",
          "sectionKey",
          "capability",
          "statusNote",
          "categoryCount",
          "categories",
          "summaryMd",
          "provenance"
        ],
        "additionalProperties": false
      },
      "OwnershipReport": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "ownership_report"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "managerName": {
            "type": "string"
          },
          "form": {
            "type": "string"
          },
          "filingDate": {
            "type": "string"
          },
          "reportDate": {
            "type": "string",
            "nullable": true
          },
          "accessionNumber": {
            "type": "string"
          },
          "holdings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string"
                },
                "classTitle": {
                  "type": "string",
                  "nullable": true
                },
                "cusip": {
                  "type": "string",
                  "nullable": true
                },
                "valueUsdThousands": {
                  "type": "number",
                  "nullable": true
                },
                "shares": {
                  "type": "number",
                  "nullable": true
                },
                "shareType": {
                  "type": "string",
                  "nullable": true
                },
                "putCall": {
                  "type": "string",
                  "nullable": true
                },
                "investmentDiscretion": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "issuer",
                "classTitle",
                "cusip",
                "valueUsdThousands",
                "shares",
                "shareType",
                "putCall",
                "investmentDiscretion"
              ],
              "additionalProperties": false
            }
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
                "type": "string",
                "nullable": true
              },
              "filingUrl": {
                "type": "string",
                "format": "uri"
              },
              "acceptedAt": {
                "type": "string",
                "nullable": true
              },
              "retrievedAt": {
                "type": "string"
              },
              "parserVersion": {
                "type": "string"
              }
            },
            "required": [
              "source",
              "accessionNumber",
              "filingUrl",
              "retrievedAt",
              "parserVersion"
            ],
            "additionalProperties": false
          },
          "freshness": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "degraded",
                  "unknown"
                ]
              },
              "asOf": {
                "type": "string"
              },
              "sourcePublishedAt": {
                "type": "string",
                "nullable": true
              },
              "lagMs": {
                "type": "integer",
                "minimum": 0,
                "nullable": true
              }
            },
            "required": [
              "status",
              "asOf"
            ],
            "additionalProperties": false
          },
          "materialization": {
            "type": "object",
            "properties": {
              "parserVersion": {
                "type": "string"
              },
              "materializationVersion": {
                "type": "string"
              }
            },
            "required": [
              "parserVersion",
              "materializationVersion"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "object",
          "id",
          "createdAt",
          "livemode",
          "entityId",
          "ticker",
          "managerName",
          "form",
          "filingDate",
          "reportDate",
          "accessionNumber",
          "holdings",
          "provenance"
        ],
        "additionalProperties": false
      },
      "OwnershipComparison": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "ownership_comparison"
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "entityId": {
            "type": "string"
          },
          "ticker": {
            "type": "string",
            "nullable": true
          },
          "managerName": {
            "type": "string"
          },
          "currentFilingDate": {
            "type": "string"
          },
          "previousFilingDate": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string"
                },
                "cusip": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "added",
                    "removed",
                    "changed",
                    "unchanged"
                  ]
                },
                "currentValueUsdThousands": {
                  "type": "number",
                  "nullable": true
                },
                "previousValueUsdThousands": {
                  "type": "number",
                  "nullable": true
                },
                "deltaValueUsdThousands": {
                  "type": "number",
                  "nullable": true
                },
                "currentShares": {
                  "type": "number",
                  "nullable": true
                },
                "previousShares": {
                  "type": "number",
                  "nullable": true
                },
                "deltaShares": {
                  "type": "number",
                  "nullable": true
                }
              },
              "required": [
                "issuer",
                "cusip",
                "status",
                "currentValueUsdThousands",
                "previousValueUsdThousands",
                "deltaValueUsdThousands",
                "currentShares",
                "previousShares",
                "deltaShares"
              ],
              "additionalProperties": false
            }
          },
          "summaryMd": {
            "type": "string"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "accessionNumber": {
[...]
