{
  "openapi": "3.1.0",
  "info": {
    "title": "SEC API",
    "version": "2026-03-19",
    "description": "SEC API for investor agents spanning SEC filings, market, macro, factor, portfolio, and intelligence-query workloads."
  },
  "servers": [
    {
      "url": "https://api.secapi.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "Return OAuth protected resource metadata for hosted MCP and API clients",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.protected_resource_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "Return or proxy OAuth authorization server metadata for the configured WorkOS tenant",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.authorization_server_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Return the current authenticated principal and organization context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "me.current",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/org": {
      "get": {
        "summary": "Return the current organization profile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "org.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/orgs": {
      "get": {
        "summary": "List operator-visible organizations with support-safe plan, usage, and recent activity summaries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/orgs/{org_id}": {
      "get": {
        "summary": "Return an operator-facing organization snapshot with API keys, billing, usage, events, webhooks, streams, and delivery state",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/orgs/{org_id}/requests/{request_id}": {
      "get": {
        "summary": "Return operator-scoped request diagnostics for a tenant request identifier",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/orgs/{org_id}/deliveries/summary": {
      "get": {
        "summary": "Return operator-scoped delivery aggregates for webhook and stream activity within a tenant",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/hot-lane": {
      "post": {
        "summary": "Run operator-scoped hot-lane polling to enqueue fresh SEC publication observations",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/reconcile-hot": {
      "post": {
        "summary": "Run operator-scoped reconcile work to enqueue missing live hot-lane filings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/ingest-worker": {
      "post": {
        "summary": "Run operator-scoped ingest worker passes to materialize queued filing artifacts and sections",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/ingest-queue": {
      "post": {
        "summary": "Export an operator-scoped ingest queue and checkpoint summary from the running SEC API service",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/warm-market-latest": {
      "post": {
        "summary": "Warm search-visible manifests for the latest market-wide SEC filings by core form",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/warm-market-data": {
      "post": {
        "summary": "Warm operator-scoped market snapshots, reference, estimates, bars, and corporate-action caches for covered symbols",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/warm-macro-data": {
      "post": {
        "summary": "Bootstrap operator-scoped Tier-1 macro materialization for launch countries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/warm-factor-data": {
      "post": {
        "summary": "Warm operator-scoped factor returns, exposures, and correlations for covered symbols and factor categories",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/warm-factor-intraday": {
      "post": {
        "summary": "Warm operator-scoped intraday factor snapshots for supported categories and windows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/admin/maintenance/company-mapping-identifiers": {
      "post": {
        "summary": "Backfill FIGI-family and security identifier coverage into the canonical entity store from operator-supplied universe rows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/webhooks/stripe": {
      "post": {
        "summary": "Receive and process signed Stripe subscription lifecycle webhooks",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.stripe_webhook",
        "x-secapi-access": "public",
        "x-secapi-kind": "webhook",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/billing": {
      "get": {
        "summary": "Return the current organization's billing snapshot, including pricing posture, budget controls, and settlement provider state",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/rates": {
      "get": {
        "summary": "Return the public pricing catalog, plan metadata, and meter-family launch rates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.rates",
        "x-secapi-access": "public",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/billing/payg/activate": {
      "post": {
        "summary": "Create a Stripe Checkout setup session that activates Pay As You Go card-on-file billing",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payg_activate",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/quote": {
      "post": {
        "summary": "Quote a billable workflow or meter class against the current billing plan and budget gates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.quote",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/budget": {
      "put": {
        "summary": "Update organization-level spend caps, soft caps, and approval thresholds for PAYG usage",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.budget",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Create a Stripe Checkout session for a self-serve Personal or Team SEC API plan",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.checkout",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/portal": {
      "post": {
        "summary": "Create a Stripe Billing Portal session for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.portal",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/api_keys": {
      "get": {
        "summary": "List API keys for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a new API key for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/agent/bootstrap_tokens": {
      "post": {
        "summary": "Issue a short-lived, single-use sponsor token for agent bootstrap under the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "agent.bootstrap_tokens",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Exchange a sponsor token for the first org-scoped API key, billing snapshot, limits, and MCP install metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "agent.bootstrap_exchange",
        "x-secapi-access": "public",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/dashboard/overview": {
      "get": {
        "summary": "Return the logged-in dashboard overview with principal, org, enriched billing, usage, and API key context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOverview"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/settings": {
      "get": {
        "summary": "Return profile, organization, appearance, security, and account-deletion settings for the dashboard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/settings/profile": {
      "patch": {
        "summary": "Update local dashboard profile preferences for the current WorkOS user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateDashboardProfileBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/settings/organization": {
      "patch": {
        "summary": "Update locally owned organization profile settings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateDashboardOrganizationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/settings/appearance": {
      "put": {
        "summary": "Update dashboard appearance preferences for the current organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateDashboardAppearanceBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/settings/account-deletion-request": {
      "post": {
        "summary": "Record an account-deletion request for the current organization without deleting data inline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestDeletionBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Account-deletion request recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/usage/series": {
      "get": {
        "summary": "Return dashboard usage counts over time for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageSeries"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/usage/endpoints": {
      "get": {
        "summary": "Return dashboard endpoint-level usage breakdown for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardEndpointBreakdown"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/usage/requests": {
      "get": {
        "summary": "Return recent dashboard request log rows for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageRequestLog"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/usage/export": {
      "get": {
        "summary": "Export dashboard usage request log rows as JSON or CSV",
        "responses": {
          "200": {
            "description": "Dashboard usage export as JSON or CSV",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageExport"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/dashboard/activity": {
      "get": {
        "summary": "Return dashboard activity totals and recent request rows for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageActivity"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/events": {
      "get": {
        "summary": "List canonical event, webhook delivery, and stream records for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "events.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/events/export": {
      "get": {
        "summary": "Export filtered canonical events as JSON or NDJSON for support and operations",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "events.export",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/diagnostics/requests/{request_id}": {
      "get": {
        "summary": "Return request-id scoped diagnostics across usage, events, deliveries, streams, and artifacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "diagnostics.routes",
        "x-secapi-access": "org",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/diagnostics/deliveries/summary": {
      "get": {
        "summary": "Return aggregated webhook and stream delivery summaries for support workflows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "diagnostics.routes",
        "x-secapi-access": "org",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/observability": {
      "get": {
        "summary": "Return operator-only observability configuration and provider seam status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "observability.config",
        "x-secapi-access": "operator",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/observability/export": {
      "get": {
        "summary": "Return an operator-only observability export with config, usage, and recent events",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "observability.export",
        "x-secapi-access": "operator",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints": {
      "get": {
        "summary": "List webhook endpoints for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a signed webhook endpoint for artifact and stream events",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/rotate_secret": {
      "post": {
        "summary": "Rotate the signing secret for a webhook endpoint",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/deliveries": {
      "get": {
        "summary": "List canonical delivery attempts for a webhook endpoint",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/deliveries/{delivery_id}/replay": {
      "post": {
        "summary": "Replay a stored webhook delivery attempt by re-emitting its source event to the endpoint",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/monitors": {
      "get": {
        "summary": "List saved-search monitors for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a saved-search monitor with optional webhook or email delivery destination",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/monitors/{monitor_id}": {
      "get": {
        "summary": "Retrieve a single monitor by id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "delete": {
        "summary": "Deactivate a monitor (idempotent; sets is_active=false)",
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/monitors/{monitor_id}/matches": {
      "get": {
        "summary": "Run the monitor's saved query and return new matches since last_checked_at",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/monitors/{monitor_id}/delivery": {
      "post": {
        "summary": "Update or replace the monitor's delivery destination (e.g., set or change an email recipient)",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/delivery/unsubscribe": {
      "get": {
        "summary": "Render an unsubscribe confirmation page for a signed token",
        "description": "Anonymous endpoint. GET is preview-safe and never mutates state — it only renders a confirmation page with a POST form. Email link previewers (Outlook, Apple Mail, Gmail) will fetch this URL during scanning; the user must submit POST to actually unsubscribe (RFC 8058).",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signed unsubscribe token (HMAC-SHA256, with nonce + expiry)."
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation HTML page rendered"
          },
          "400": {
            "description": "Invalid or expired token"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "delivery.unsubscribe.preview",
        "x-secapi-access": "public",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "post": {
        "summary": "Unsubscribe from monitor email delivery (RFC 8058 one-click compatible)",
        "description": "Anonymous endpoint. Token may be supplied in form-encoded body OR query string. When the body includes `List-Unsubscribe=One-Click`, the response is 204 No Content per RFC 8058. Idempotent — repeated calls with the same token return the same result.",
        "responses": {
          "200": {
            "description": "Confirmation HTML page (interactive flow)"
          },
          "204": {
            "description": "One-click unsubscribe processed (RFC 8058 List-Unsubscribe-Post)"
          },
          "400": {
            "description": "Invalid or expired token"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "delivery.unsubscribe.confirm",
        "x-secapi-access": "public",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/stream_subscriptions": {
      "get": {
        "summary": "List stream subscriptions for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "stream_subscriptions.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a stream subscription for event polling and replay",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "stream_subscriptions.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/stream_subscriptions/{stream_id}/events": {
      "get": {
        "summary": "Poll canonical stream events for a subscription with cursor semantics",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "stream_subscriptions.member",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/stream/tickets": {
      "post": {
        "summary": "Mint a short-lived signed WebSocket stream ticket for the current principal",
        "description": "Creates a short-lived signed ticket that can be sent as the `ticket` query parameter when upgrading to `/v1/stream/ws`. This avoids sending long-lived API keys or bearer tokens in browser-visible WebSocket URLs.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "stream.tickets",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/stream/ws": {
      "get": {
        "summary": "Upgrade to a WebSocket connection for real-time filing event streaming",
        "description": "Upgrades the HTTP connection to a WebSocket. Clients must supply a short-lived signed `ticket` query parameter minted from `POST /v1/stream/tickets`. Streams `filing.published` events in real time with optional form/ticker filtering and cursor-based replay. Metered as `stream_connection` on upgrade and `stream_event` per delivery (1000/min default).",
        "parameters": [
          {
            "name": "ticket",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Short-lived signed stream ticket minted from `POST /v1/stream/tickets`."
          },
          {
            "name": "forms",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated form types to filter (e.g. '10-K,8-K'). Case-insensitive."
          },
          {
            "name": "tickers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tickers to filter (e.g. 'AAPL,MSFT'). Case-insensitive."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Resume from a previous event cursor (e.g. 'sevt_...'). Events after this cursor are replayed on connect."
          }
        ],
        "responses": {
          "101": {
            "description": "WebSocket upgrade successful. Server sends JSON frames: connected, filing.published, pong, filters_updated, rate_limited."
          },
          "401": {
            "description": "Missing or invalid stream ticket"
          },
          "429": {
            "description": "Per-organization connection limit exceeded"
          },
          "503": {
            "description": "Global connection capacity exceeded"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "stream.websocket",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/entities/resolve": {
      "get": {
        "summary": "Resolve an entity by ticker, CIK, FIGI-family identifier, ISIN, CUSIP, or name with confidence and match-basis metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "entities.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/entities": {
      "get": {
        "summary": "Search canonical SEC entities across issuers, managers, insiders, and funds",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "entities.collection",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/traces": {
      "get": {
        "summary": "Batch resolve shared trace records by trace identifier across filing-derived and supported non-filing datasets",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "traces.collection",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/traces/{trace_id}": {
      "get": {
        "summary": "Resolve a single shared trace record by trace identifier across filing-derived and supported non-filing datasets",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "traces.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/analytics/query": {
      "post": {
        "summary": "Run a tenant-safe analytical query over supported SEC API history datasets without exposing raw SQL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQueryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful analytics query result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsQueryResult"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "v1.default_authenticated",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/filings": {
      "get": {
        "summary": "Search filing manifests with historical filters, accession lookup semantics, sorting, and cursor pagination",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.collection",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/latest": {
      "get": {
        "summary": "Retrieve the latest filing for an entity and form",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/latest/render": {
      "get": {
        "summary": "Render the latest filing into Markdown-like text",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/latest/sections/{section_key}": {
      "get": {
        "summary": "Extract a section from the latest filing for an entity and form",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/latest/risk-categories": {
      "get": {
        "summary": "Return deterministic Item 1A risk-category coverage for the latest covered filing of an issuer",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/board": {
      "get": {
        "summary": "Return the latest board composition derived from definitive proxy filings with director roster and committee coverage semantics",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "board.collection",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/funds/nport/holdings": {
      "get": {
        "summary": "Return the latest SEC N-PORT holdings roster with explicit capability semantics and balance-unit metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "funds.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/{accession_number}": {
      "get": {
        "summary": "Retrieve a filing manifest by accession number from the materialized filing corpus",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/{accession_number}/sections/{section_key}": {
      "get": {
        "summary": "Extract a filing item or section from a specific accession-number filing",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/filings/pension-benefit-schedule": {
      "get": {
        "summary": "Return structured expected pension and retiree benefit payments for a target year when the filing discloses the schedule in rendered tables",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "filings.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/statements/segmented-facts": {
      "get": {
        "summary": "Return filing-derived segmented fact history for supported metrics such as revenue and segment profit/loss, with product or geography dimensions, hierarchy metadata, capability state, and trace references when issuers disclose them",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "statements.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/statements/segmented-revenues": {
      "get": {
        "summary": "Return filing-derived segmented revenue history with XBRL product or geography dimensions, capability state, and trace references when issuers disclose them",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "statements.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/statements/share-float": {
      "get": {
        "summary": "Return a share-float wrapper backed by SEC company facts, including disclosed public float when available and shares-outstanding fallback semantics otherwise",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "statements.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/sections/search": {
      "get": {
        "summary": "Search filing sections and snippets with filing-scoped filters and cursor pagination",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "sections.search",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/offerings": {
      "get": {
        "summary": "Return recent S-1 and 424B prospectus records with cursor pagination and date filters",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "offerings.collection",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "x-secapi-anonymous-read": true
      }
    },
    "/v1/forms/144": {
      "get": {
        "summary": "Return recent Form 144 notices of proposed insider sales with cursor pagination and date filters",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "forms.member",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
[...]
