{
  "openapi": "3.1.0",
  "info": {
    "title": "SEC API",
    "version": "2026-03-19",
    "description": "SEC API for investor agents spanning SEC filings, market, macro, factor, portfolio, and intelligence-query workloads."
  },
  "servers": [
    {
      "url": "https://api.secapi.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "Return OAuth protected resource metadata for hosted MCP and API clients",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.protected_resource_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "Return or proxy OAuth authorization server metadata for the configured WorkOS tenant",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.authorization_server_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Return the current authenticated principal and organization context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "me.current",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/limits": {
      "get": {
        "summary": "Return the current organization's effective plan, billing state, and route quota windows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "orgId",
                    "requestId",
                    "recordedAt",
                    "effectivePlanKey",
                    "billingState",
                    "quotas"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "limits"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "recordedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "effectivePlanKey": {
                      "type": "string"
                    },
                    "billingState": {
                      "type": "string"
                    },
                    "quotas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "meterClass",
                          "limit",
                          "period",
                          "allowed",
                          "planKey",
                          "billingState"
                        ],
                        "properties": {
                          "meterClass": {
                            "type": "string"
                          },
                          "limit": {
                            "type": "integer"
                          },
                          "period": {
                            "type": "string",
                            "enum": [
                              "minute",
                              "hour",
                              "day"
                            ]
                          },
                          "allowed": {
                            "type": "boolean"
                          },
                          "planKey": {
                            "type": "string"
                          },
                          "billingState": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "limits",
                      "orgId": "org_example",
                      "requestId": "req_example_123",
                      "recordedAt": "2026-03-19T12:00:00.000Z",
                      "effectivePlanKey": "personal",
                      "billingState": "active",
                      "quotas": [
                        {
                          "meterClass": "standard_read",
                          "limit": 600,
                          "period": "minute",
                          "allowed": true,
                          "planKey": "personal",
                          "billingState": "active"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "limits.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/org": {
      "get": {
        "summary": "Return the current organization profile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "org.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/webhooks/stripe": {
      "post": {
        "summary": "Receive and process signed Stripe subscription lifecycle webhooks",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.stripe_webhook",
        "x-secapi-access": "public",
        "x-secapi-kind": "webhook",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/billing": {
      "get": {
        "summary": "Return the current organization's billing snapshot, including pricing posture, budget controls, and settlement provider state",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/stripe-config": {
      "get": {
        "summary": "Return the current organization's Stripe publishable-key configuration for browser payment setup",
        "responses": {
          "200": {
            "description": "Stripe publishable-key configuration for browser payment setup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "publishableKey",
                    "livemode",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "stripe_config"
                      ]
                    },
                    "publishableKey": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Stripe publishable key matching the current organization's billing mode. Null means browser payments are not configured."
                    },
                    "livemode": {
                      "type": "boolean",
                      "description": "Whether the key is for live Stripe mode."
                    },
                    "requestId": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "examples": {
                  "configured": {
                    "summary": "Payments configured",
                    "value": {
                      "object": "stripe_config",
                      "publishableKey": "pk_live_example",
                      "livemode": true,
                      "requestId": "req_example_123"
                    }
                  },
                  "unavailable": {
                    "summary": "Payments unavailable",
                    "value": {
                      "object": "stripe_config",
                      "publishableKey": null,
                      "livemode": false,
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.stripe_config",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/rates": {
      "get": {
        "summary": "Return the public pricing catalog, starter grant metadata, plan metadata, and meter-family launch rates",
        "responses": {
          "200": {
            "description": "Public pricing catalog including machine-readable starter grant metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "object",
                    "requestId",
                    "version",
                    "starterGrant",
                    "plans"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "pricing_catalog"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "starterGrant": {
                      "type": "object",
                      "additionalProperties": true,
                      "required": [
                        "object",
                        "planKey",
                        "billingState",
                        "calls",
                        "renewable",
                        "overflowPlanKey"
                      ],
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "starter_grant"
                        },
                        "planKey": {
                          "type": "string",
                          "const": "sandbox_grant"
                        },
                        "billingState": {
                          "type": "string",
                          "const": "sandbox_grant"
                        },
                        "calls": {
                          "type": "integer"
                        },
                        "renewable": {
                          "type": "boolean"
                        },
                        "period": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "overflowPlanKey": {
                          "type": "string"
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    },
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "pricing_catalog",
                      "requestId": "req_example_123",
                      "version": "2026-06-18",
                      "starterGrant": {
                        "object": "starter_grant",
                        "planKey": "sandbox_grant",
                        "billingState": "sandbox_grant",
                        "calls": 150,
                        "renewable": false,
                        "period": null,
                        "overflowPlanKey": "payg",
                        "note": "New organizations start on the starter grant; usage beyond the grant falls through to Pay As You Go rates once billing is activated."
                      },
                      "plans": [
                        {
                          "key": "payg",
                          "displayName": "Pay As You Go",
                          "kind": "metered",
                          "meterFamilyPrices": [
                            {
                              "key": "standard_reads",
                              "unitAmountUsd": 0.02
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.rates",
        "x-secapi-access": "public",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/billing/credits": {
      "get": {
        "summary": "Return the current organization's prepaid credit balance, auto-top-up settings, lifetime totals, and low-balance status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/credits/transactions": {
      "get": {
        "summary": "List the current organization's prepaid credit ledger entries (top-ups, debits, refunds, grants, adjustments), newest first",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_transactions",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/credits/topup": {
      "post": {
        "summary": "Create a Stripe PaymentIntent to purchase prepaid credits, returning the client secret and the discount/fee charge breakdown",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_topup",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/credits/auto-topup": {
      "put": {
        "summary": "Enable or disable automatic prepaid-credit top-ups and set the low-balance threshold and refill amount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_auto_topup",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/credits/refund": {
      "post": {
        "summary": "Refund the unspent credits of a prepaid top-up to the original payment method, within the refund window (platform fees non-refundable)",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_refund",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/payment-methods/setup-intent": {
      "post": {
        "summary": "Create a Stripe SetupIntent to save a payment method off-session for top-ups and auto-top-up (max 3 per organization)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "maxProperties": 0,
                "description": "No request body fields are accepted. Send an empty object or omit the body."
              },
              "examples": {
                "empty": {
                  "summary": "No request body fields",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.setup_intent",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/payment-methods": {
      "get": {
        "summary": "List the current organization's saved payment methods, primary first",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/payment-methods/{id}": {
      "put": {
        "summary": "Set a saved payment method as primary and/or change its auto-top-up fallback priority",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "properties": {
                  "isPrimary": {
                    "type": "boolean",
                    "description": "Set this saved method as the primary payment method."
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Auto-top-up fallback priority. Lower numbers are tried first."
                  }
                }
              },
              "examples": {
                "setPrimary": {
                  "summary": "Make this payment method primary",
                  "value": {
                    "isPrimary": true
                  }
                },
                "fallbackPriority": {
                  "summary": "Update fallback priority",
                  "value": {
                    "priority": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.member",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "delete": {
        "summary": "Remove a saved payment method from the current organization",
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.member",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/payg/enable": {
      "post": {
        "summary": "Enable pay-as-you-go in one flow: save a card, make an initial credit top-up, and optionally turn on auto-top-up (returns a PaymentIntent client secret)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "amountUsd"
                ],
                "properties": {
                  "amountUsd": {
                    "type": "number",
                    "minimum": 5,
                    "description": "Initial prepaid credit amount to purchase while enabling PAYG."
                  },
                  "autoTopupThresholdCents": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Optional low-balance threshold, in cents, that enables auto-top-up after payment succeeds."
                  },
                  "autoTopupAmountCents": {
                    "type": "integer",
                    "minimum": 500,
                    "description": "Optional refill amount, in cents, used with autoTopupThresholdCents."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "amountUsd": 10,
                    "autoTopupThresholdCents": 1000,
                    "autoTopupAmountCents": 2500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PAYG enable PaymentIntent created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "clientSecret",
                    "paymentIntentId",
                    "breakdown",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "payg_enable_intent"
                    },
                    "clientSecret": {
                      "type": "string"
                    },
                    "paymentIntentId": {
                      "type": "string"
                    },
                    "breakdown": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "payg_enable_intent",
                      "clientSecret": "pi_example_secret_example",
                      "paymentIntentId": "pi_example",
                      "breakdown": {
                        "creditsCents": 1000,
                        "discountCents": 0,
                        "feeCents": 30,
                        "totalChargeCents": 1030,
                        "currency": "usd"
                      },
                      "requestId": "req_2ZK8Q1W9F4M6P7R3"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payg_enable",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/grant/reset": {
      "post": {
        "summary": "Re-grant the one-time free starter allowance (resets free-grant usage), rate-limited to once per rolling 30 days per organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.grant_reset",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/quote": {
      "post": {
        "summary": "Quote a billable workflow or meter class against the current billing plan and budget gates",
        "requestBody": {
          "required": true,
          "description": "Provide meterClass or path. planKey and units are optional.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "planKey": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional public plan key to quote instead of the organization's current plan."
                  },
                  "meterClass": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional meter class. Provide this or a path."
                  },
                  "path": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional API path used to derive the meter class. Provide this or meterClass."
                  },
                  "method": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "HTTP method used with path; defaults to GET when path is supplied."
                  },
                  "units": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Optional positive number of units to quote."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "path": "/v1/facts",
                    "method": "GET",
                    "units": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "planKey",
                    "meterClass",
                    "meterFamily",
                    "units",
                    "unitAmountUsd",
                    "amountUsd",
                    "amountCents",
                    "currency",
                    "requestId",
                    "budget",
                    "budgetGate"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "billing_quote"
                    },
                    "planKey": {
                      "type": "string"
                    },
                    "meterClass": {
                      "type": "string"
                    },
                    "meterFamily": {
                      "type": "string"
                    },
                    "units": {
                      "type": "integer"
                    },
                    "unitAmountUsd": {
                      "type": "number"
                    },
                    "amountUsd": {
                      "type": "number"
                    },
                    "amountCents": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string",
                      "const": "usd"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "budget": {
                      "type": "object"
                    },
                    "budgetGate": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "billing_quote",
                      "planKey": "personal",
                      "meterClass": "fact_lookup",
                      "meterFamily": "standard_read",
                      "units": 1,
                      "unitAmountUsd": 0,
                      "amountUsd": 0,
                      "amountCents": 0,
                      "currency": "usd",
                      "requestId": "req_example_123",
                      "budget": {},
                      "budgetGate": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.quote",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/budget": {
      "put": {
        "summary": "Update organization-level spend caps, soft caps, and approval thresholds for PAYG usage",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.budget",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Create a Stripe Checkout session for a self-serve Personal or Team SEC API plan",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.checkout",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/portal": {
      "post": {
        "summary": "Create a Stripe Billing Portal session for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.portal",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/api_keys": {
      "get": {
        "summary": "List API keys for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a new API key for the current organization and reveal its secret exactly once",
        "requestBody": {
          "required": true,
          "description": "Optional API key label. Scopes and livemode are derived server-side for the current organization.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "label": "local-dev"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created. The `secret` field is revealed exactly once in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "id",
                    "createdAt",
                    "livemode",
                    "orgId",
                    "label",
                    "keyPrefix",
                    "scopes",
                    "status",
                    "lastUsedAt",
                    "secret"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "keyPrefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "revoked"
                      ]
                    },
                    "lastUsedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "secret": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "api_key",
                      "id": "key_123",
                      "createdAt": "2026-06-27T21:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_123",
                      "label": "local-dev",
                      "keyPrefix": "secapi_live_abcd",
                      "scopes": [
                        "read:sec"
                      ],
                      "status": "active",
                      "lastUsedAt": null,
                      "secret": "secapi_live_abcd...copy_this_once"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/agent/bootstrap_tokens": {
      "post": {
        "summary": "Issue a short-lived, single-use sponsor token for agent bootstrap under the current organization",
        "requestBody": {
          "required": true,
          "description": "Requires a human organization member authenticated with a bearer token. API keys cannot create sponsor tokens.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional label carried into the issued agent API key."
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional requested scopes; self-serve sponsor tokens are limited to read:sec."
                  },
                  "ttlSeconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 86400,
                    "description": "Optional lifetime in seconds. The service clamps the effective value to 60 through 86,400 seconds."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "label": "research-agent",
                    "scopes": [
                      "read:sec"
                    ],
                    "ttlSeconds": 900
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sponsor token issued. The secret is returned once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "id",
                    "orgId",
                    "actorPrincipalId",
                    "label",
                    "tokenPrefix",
                    "scopes",
                    "livemode",
                    "expiresAt",
                    "usedAt",
                    "usedByPrincipalId",
                    "createdAt",
                    "updatedAt",
                    "secret",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "agent_bootstrap_token"
                    },
                    "id": {
                      "type": "string"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "actorPrincipalId": {
                      "type": "string"
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenPrefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "usedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "usedByPrincipalId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "secret": {
                      "type": "string",
                      "description": "One-time sponsor-token secret. Store only long enough to send it to the bootstrap agent."
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "agent_bootstrap_token",
                      "id": "agtok_example",
                      "orgId": "org_example",
                      "actorPrincipalId": "user_example",
                      "label": "research-agent",
                      "tokenPrefix": "agtok_example",
                      "scopes": [
                        "read:sec"
                      ],
                      "livemode": false,
                      "expiresAt": "2026-03-19T12:15:00.000Z",
                      "usedAt": null,
                      "usedByPrincipalId": null,
                      "createdAt": "2026-03-19T12:00:00.000Z",
                      "updatedAt": "2026-03-19T12:00:00.000Z",
                      "secret": "agtok_example_secret_returned_once",
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "agent.bootstrap_tokens",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Exchange a sponsor token for the first org-scoped API key, billing snapshot, limits, and MCP install metadata",
        "requestBody": {
          "required": true,
          "description": "This exchange is intentionally pre-auth. Do not send an API key or bearer token; submit the sponsor token in the JSON body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Short-lived, single-use sponsor token returned by POST /v1/agent/bootstrap_tokens."
                  },
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional label for the issued API key."
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional requested scopes; the self-serve exchange is limited to read:sec."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "token": "agtok_example_sponsor_token",
                    "label": "research-agent",
                    "scopes": [
                      "read:sec"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sponsor token exchanged and API key issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "requestId",
                    "organization",
                    "apiKey",
                    "billing",
                    "limits",
                    "distribution",
                    "sponsorToken"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "agent_bootstrap"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "object"
                    },
                    "apiKey": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "limits": {
                      "type": "object"
                    },
                    "distribution": {
                      "type": "object"
                    },
                    "sponsorToken": {
                      "type": "object"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "agent_bootstrap",
                      "requestId": "req_example_123",
                      "organization": {},
                      "apiKey": {},
                      "billing": {},
                      "limits": {},
                      "distribution": {},
                      "sponsorToken": {}
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "agent.bootstrap_exchange",
        "x-secapi-access": "public",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/event_types": {
      "get": {
        "summary": "List Delivery event types, producer status, replay support, retention, and billing family metadata",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "public_emitting",
                "internal",
                "reserved"
              ]
            },
            "description": "Filter the catalog by producer status."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery event type catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "event_type_catalog"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "type",
                          "status",
                          "schemaVersion",
                          "billingFamily"
                        ],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "public_emitting",
                              "internal",
                              "reserved"
                            ]
                          },
                          "description": {
                            "type": "string"
                          },
                          "schemaVersion": {
                            "type": "string"
                          },
                          "producer": {
                            "type": "string"
                          },
                          "filterable": {
                            "type": "boolean"
                          },
                          "replaySupport": {
                            "type": "string"
                          },
                          "retention": {
                            "type": "string"
                          },
                          "billingFamily": {
                            "type": "string",
                            "description": "Meter family used when this event is delivered through a customer webhook, stream, or email transport."
                          },
                          "transports": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "samplePayload": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status filter."
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "events.catalog",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/delivery/events": {
      "get": {
        "summary": "List durable Delivery ledger, webhook delivery, and stream records for the current organization",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "event",
                "webhook_delivery",
                "stream_event"
              ]
            },
            "description": "Filter to one Delivery ledger record family."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by canonical event type, for example filing.published."
          },
          {
            "name": "requestId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by producer request id."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records recorded at or after this timestamp."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 25
            },
            "description": "Maximum records to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery ledger records for the current organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "hasMore",
                    "nextCursor"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": [
                              "event",
                              "webhook_delivery",
                              "stream_event"
                            ]
                          },
                          "recordedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "orgId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "eventType": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Delivery ledger is temporarily unavailable."
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "delivery.events.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/delivery/events/export": {
      "get": {
        "summary": "Export durable Delivery ledger records as JSON or NDJSON",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "event",
                "webhook_delivery",
                "stream_event"
              ]
            },
            "description": "Filter to one Delivery ledger record family."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by canonical event type, for example filing.published."
          },
          {
            "name": "requestId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by producer request id."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records recorded at or after this timestamp."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 25
            },
            "description": "Maximum records to return."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "ndjson"
              ],
              "default": "json"
            },
            "description": "Export format. ndjson returns application/x-ndjson."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery ledger export.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "format",
                    "count",
                    "content"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "event_export"
                    },
                    "format": {
                      "type": "string",
                      "const": "json"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "string",
                      "description": "Pretty-printed JSON array of ledger records."
                    }
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "Newline-delimited JSON Delivery ledger records."
                }
              }
            }
          },
          "503": {
            "description": "Delivery ledger is temporarily unavailable."
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "delivery.events.export",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints": {
      "get": {
        "summary": "List webhook endpoints for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.collection.read",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a signed webhook endpoint for Delivery events",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "destinationUrl"
                ],
                "properties": {
                  "destinationUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public HTTPS endpoint URL. Self-serve endpoints must use default HTTPS port 443."
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "subscribedEventTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Delivery event types from GET /v1/event_types. Supports exact event names, `*`, and namespace wildcards such as `monitor.*`."
                  },
                  "livemode": {
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "destinationUrl": "https://example.com/hooks/secapi",
                    "description": "Production monitor matches",
                    "subscribedEventTypes": [
                      "monitor.match"
                    ],
                    "livemode": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created. The signing secret is revealed once on create/rotate.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "wh_2ZK8Q1W9F4M6P7R3",
                      "createdAt": "2026-06-25T15:00:00.000Z",
                      "updatedAt": "2026-06-25T15:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_example_123",
                      "description": "Production monitor matches",
                      "destinationUrl": "https://example.com/hooks/secapi",
                      "subscribedEventTypes": [
                        "monitor.match",
                        "webhook.test"
                      ],
                      "status": "active",
                      "lastDeliveredAt": null,
                      "signingSecret": "whsec_example_reveal_once_on_create_or_rotate"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.collection.manage",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}": {
      "patch": {
        "summary": "Update a webhook endpoint URL, description, subscribed event types, or active status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "properties": {
                  "destinationUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "subscribedEventTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "disabled"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "destinationUrl": "https://example.com/hooks/secapi",
                    "description": "Production monitor matches",
                    "subscribedEventTypes": [
                      "monitor.match",
                      "webhook.test"
                    ],
                    "status": "active"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "wh_2ZK8Q1W9F4M6P7R3",
                      "createdAt": "2026-06-25T15:00:00.000Z",
                      "updatedAt": "2026-06-25T15:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_example_123",
                      "description": "Production monitor matches",
                      "destinationUrl": "https://example.com/hooks/secapi",
                      "subscribedEventTypes": [
                        "monitor.match",
                        "webhook.test"
                      ],
                      "status": "active",
                      "lastDeliveredAt": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.patch",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "delete": {
        "summary": "Delete a webhook endpoint while preserving delivery audit history",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "id",
                    "deleted",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "webhook_endpoint.deleted"
                    },
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_endpoint.deleted",
                      "id": "wh_2ZK8Q1W9F4M6P7R3",
                      "deleted": true,
                      "requestId": "req_2ZK8Q1W9F4M6P7R3"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.delete",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/enable": {
      "post": {
        "summary": "Enable a webhook endpoint",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "wh_2ZK8Q1W9F4M6P7R3",
                      "createdAt": "2026-06-25T15:00:00.000Z",
                      "updatedAt": "2026-06-25T15:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_example_123",
                      "description": "Production monitor matches",
                      "destinationUrl": "https://example.com/hooks/secapi",
                      "subscribedEventTypes": [
                        "monitor.match",
                        "webhook.test"
                      ],
                      "status": "active",
                      "lastDeliveredAt": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.post",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/disable": {
      "post": {
        "summary": "Disable a webhook endpoint without deleting delivery history",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "wh_2ZK8Q1W9F4M6P7R3",
                      "createdAt": "2026-06-25T15:00:00.000Z",
                      "updatedAt": "2026-06-25T15:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_example_123",
                      "description": "Production monitor matches",
                      "destinationUrl": "https://example.com/hooks/secapi",
                      "subscribedEventTypes": [
                        "monitor.match",
                        "webhook.test"
                      ],
                      "status": "disabled",
                      "lastDeliveredAt": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.post",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/test": {
      "post": {
        "summary": "Send a signed webhook.test event to a webhook endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "eventType": {
                    "type": "string",
                    "const": "webhook.test",
                    "default": "webhook.test"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "eventType": "webhook.test",
                    "data": {
                      "source": "dashboard"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "object",
                    "event",
                    "delivery"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "webhook_test"
                    },
                    "event": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "delivery": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_test",
                      "event": {
                        "object": "event",
                        "id": "evt_webhook_test_123",
                        "type": "webhook.test",
                        "createdAt": "2026-06-25T15:01:00.000Z",
                        "livemode": false,
                        "orgId": "org_example_123",
                        "requestId": "req_2ZK8Q1W9F4M6P7R3",
                        "data": {
                          "message": "SEC API webhook test",
                          "webhookId": "wh_2ZK8Q1W9F4M6P7R3",
                          "requestedBy": "delivery_api"
                        }
                      },
                      "delivery": {
                        "kind": "webhook_delivery",
                        "recordedAt": "2026-06-25T15:01:00.250Z",
                        "orgId": "org_example_123",
                        "eventId": "evt_webhook_test_123",
                        "eventType": "webhook.test",
                        "webhookId": "wh_2ZK8Q1W9F4M6P7R3",
                        "destinationUrl": "https://example.com/hooks/secapi",
                        "status": 200,
                        "ok": true,
                        "requestId": "req_2ZK8Q1W9F4M6P7R3",
                        "error": null,
                        "latencyMs": 250,
                        "replayedFromDeliveryId": null
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.post",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/rotate_secret": {
      "post": {
        "summary": "Rotate the signing secret for a webhook endpoint",
        "responses": {
          "200": {
            "description": "Signing secret rotated. The new secret is revealed once.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "wh_2ZK8Q1W9F4M6P7R3",
                      "createdAt": "2026-06-25T15:00:00.000Z",
                      "updatedAt": "2026-06-25T15:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_example_123",
                      "description": "Production monitor matches",
                      "destinationUrl": "https://example.com/hooks/secapi",
                      "subscribedEventTypes": [
                        "monitor.match",
                        "webhook.test"
                      ],
                      "status": "active",
                      "lastDeliveredAt": null,
                      "signingSecret": "whsec_example_reveal_once_on_create_or_rotate"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.post",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/deliveries": {
      "get": {
        "summary": "List canonical delivery attempts for a webhook endpoint",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.read",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/webhook_endpoints/{webhook_id}/deliveries/{delivery_id}/replay": {
      "post": {
        "summary": "Replay a stored webhook delivery attempt by re-emitting its source event to the endpoint",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.member.manage.post",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/monitors": {
      "get": {
        "summary": "List saved-search monitors for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "monitors.collection.read",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a saved-search monitor with optional webhook or email delivery destination",
        "responses": {
[...]
