{
  "openapi": "3.1.0",
  "info": {
    "title": "SEC API",
    "version": "2026-03-19",
    "description": "SEC API for investor agents spanning SEC filings, market, macro, factor, portfolio, and intelligence-query workloads."
  },
  "servers": [
    {
      "url": "https://api.secapi.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "Return OAuth protected resource metadata for hosted MCP and API clients",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.protected_resource_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "Return or proxy OAuth authorization server metadata for the configured WorkOS tenant",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.authorization_server_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/me": {
      "get": {
        "summary": "Return the current authenticated principal and organization context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "me.current",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/org": {
      "get": {
        "summary": "Return the current organization profile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "org.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/orgs": {
      "get": {
        "summary": "List operator-visible organizations with support-safe plan, usage, and recent activity summaries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/orgs/{org_id}": {
      "get": {
        "summary": "Return an operator-facing organization snapshot with API keys, billing, usage, events, webhooks, streams, and delivery state",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/orgs/{org_id}/requests/{request_id}": {
      "get": {
        "summary": "Return operator-scoped request diagnostics for a tenant request identifier",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/orgs/{org_id}/deliveries/summary": {
      "get": {
        "summary": "Return operator-scoped delivery aggregates for webhook and stream activity within a tenant",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/hot-lane": {
      "post": {
        "summary": "Run operator-scoped hot-lane polling to enqueue fresh SEC publication observations",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/reconcile-hot": {
      "post": {
        "summary": "Run operator-scoped reconcile work to enqueue missing live hot-lane filings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/ingest-worker": {
      "post": {
        "summary": "Run operator-scoped ingest worker passes to materialize queued filing artifacts and sections",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/ingest-queue": {
      "post": {
        "summary": "Export an operator-scoped ingest queue and checkpoint summary from the running SEC API service",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/warm-market-latest": {
      "post": {
        "summary": "Warm search-visible manifests for the latest market-wide SEC filings by core form",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/warm-market-data": {
      "post": {
        "summary": "Warm operator-scoped market snapshots, reference, estimates, bars, and corporate-action caches for covered symbols",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/warm-macro-data": {
      "post": {
        "summary": "Bootstrap operator-scoped Tier-1 macro materialization for launch countries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/warm-factor-data": {
      "post": {
        "summary": "Warm operator-scoped factor returns, exposures, and correlations for covered symbols and factor categories",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/warm-factor-intraday": {
      "post": {
        "summary": "Warm operator-scoped intraday factor snapshots for supported categories and windows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/admin/maintenance/company-mapping-identifiers": {
      "post": {
        "summary": "Backfill FIGI-family and security identifier coverage into the canonical entity store from operator-supplied universe rows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "admin.routes",
        "x-secapi-access": "operator",
        "x-secapi-kind": "admin",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/webhooks/stripe": {
      "post": {
        "summary": "Receive and process signed Stripe subscription lifecycle webhooks",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.stripe_webhook",
        "x-secapi-access": "public",
        "x-secapi-kind": "webhook",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing": {
      "get": {
        "summary": "Return the current organization's billing snapshot, including pricing posture, budget controls, and settlement provider state",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/stripe-config": {
      "get": {
        "summary": "Return the current organization's Stripe publishable-key configuration for browser payment setup",
        "responses": {
          "200": {
            "description": "Stripe publishable-key configuration for browser payment setup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "publishableKey",
                    "livemode",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "stripe_config"
                      ]
                    },
                    "publishableKey": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Stripe publishable key matching the current organization's billing mode. Null means browser payments are not configured."
                    },
                    "livemode": {
                      "type": "boolean",
                      "description": "Whether the key is for live Stripe mode."
                    },
                    "requestId": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "examples": {
                  "configured": {
                    "summary": "Payments configured",
                    "value": {
                      "object": "stripe_config",
                      "publishableKey": "pk_live_example",
                      "livemode": true,
                      "requestId": "req_example_123"
                    }
                  },
                  "unavailable": {
                    "summary": "Payments unavailable",
                    "value": {
                      "object": "stripe_config",
                      "publishableKey": null,
                      "livemode": false,
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.stripe_config",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/rates": {
      "get": {
        "summary": "Return the public pricing catalog, plan metadata, and meter-family launch rates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.rates",
        "x-secapi-access": "public",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/credits": {
      "get": {
        "summary": "Return the current organization's prepaid credit balance, auto-top-up settings, lifetime totals, and low-balance status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/credits/transactions": {
      "get": {
        "summary": "List the current organization's prepaid credit ledger entries (top-ups, debits, refunds, grants, adjustments), newest first",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_transactions",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/credits/topup": {
      "post": {
        "summary": "Create a Stripe PaymentIntent to purchase prepaid credits, returning the client secret and the discount/fee charge breakdown",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_topup",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/credits/auto-topup": {
      "put": {
        "summary": "Enable or disable automatic prepaid-credit top-ups and set the low-balance threshold and refill amount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_auto_topup",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/credits/refund": {
      "post": {
        "summary": "Refund the unspent credits of a prepaid top-up to the original payment method, within the refund window (platform fees non-refundable)",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_refund",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/payment-methods/setup-intent": {
      "post": {
        "summary": "Create a Stripe SetupIntent to save a payment method off-session for top-ups and auto-top-up (max 3 per organization)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "maxProperties": 0,
                "description": "No request body fields are accepted. Send an empty object or omit the body."
              },
              "examples": {
                "empty": {
                  "summary": "No request body fields",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.setup_intent",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/payment-methods": {
      "get": {
        "summary": "List the current organization's saved payment methods, primary first",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/payment-methods/{id}": {
      "put": {
        "summary": "Set a saved payment method as primary and/or change its auto-top-up fallback priority",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "properties": {
                  "isPrimary": {
                    "type": "boolean",
                    "description": "Set this saved method as the primary payment method."
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Auto-top-up fallback priority. Lower numbers are tried first."
                  }
                }
              },
              "examples": {
                "setPrimary": {
                  "summary": "Make this payment method primary",
                  "value": {
                    "isPrimary": true
                  }
                },
                "fallbackPriority": {
                  "summary": "Update fallback priority",
                  "value": {
                    "priority": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.member",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "delete": {
        "summary": "Remove a saved payment method from the current organization",
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.member",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/payg/activate": {
      "post": {
        "summary": "Create a Stripe Checkout setup session that activates Pay As You Go card-on-file billing",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payg_activate",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/payg/enable": {
      "post": {
        "summary": "Enable pay-as-you-go in one flow: save a card, make an initial credit top-up, and optionally turn on auto-top-up (returns a PaymentIntent client secret)",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payg_enable",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/grant/reset": {
      "post": {
        "summary": "Re-grant the one-time free starter allowance (resets free-grant usage), rate-limited to once per rolling 30 days per organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.grant_reset",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/quote": {
      "post": {
        "summary": "Quote a billable workflow or meter class against the current billing plan and budget gates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.quote",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/budget": {
      "put": {
        "summary": "Update organization-level spend caps, soft caps, and approval thresholds for PAYG usage",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.budget",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Create a Stripe Checkout session for a self-serve Personal or Team SEC API plan",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.checkout",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/billing/portal": {
      "post": {
        "summary": "Create a Stripe Billing Portal session for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.portal",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/api_keys": {
      "get": {
        "summary": "List API keys for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a new API key for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/agent/bootstrap_tokens": {
      "post": {
        "summary": "Issue a short-lived, single-use sponsor token for agent bootstrap under the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "agent.bootstrap_tokens",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Exchange a sponsor token for the first org-scoped API key, billing snapshot, limits, and MCP install metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "agent.bootstrap_exchange",
        "x-secapi-access": "public",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/overview": {
      "get": {
        "summary": "Return the logged-in dashboard overview with principal, org, enriched billing, usage, and API key context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOverview"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/settings": {
      "get": {
        "summary": "Return profile, organization, appearance, security, and account-deletion settings for the dashboard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/settings/profile": {
      "patch": {
        "summary": "Update local dashboard profile preferences for the current WorkOS user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateDashboardProfileBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/settings/organization": {
      "patch": {
        "summary": "Update locally owned organization profile settings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateDashboardOrganizationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/settings/appearance": {
      "put": {
        "summary": "Update dashboard appearance preferences for the current organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateDashboardAppearanceBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/settings/account-deletion-request": {
      "post": {
        "summary": "Record an account-deletion request for the current organization without deleting data inline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestDeletionBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Account-deletion request recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAccountSettings"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/usage/series": {
      "get": {
        "summary": "Return dashboard usage counts over time for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageSeries"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/usage/endpoints": {
      "get": {
        "summary": "Return dashboard endpoint-level usage breakdown for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardEndpointBreakdown"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/usage/requests": {
      "get": {
        "summary": "Return recent dashboard request log rows for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageRequestLog"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/usage/export": {
      "get": {
        "summary": "Export dashboard usage request log rows as JSON or CSV",
        "responses": {
          "200": {
            "description": "Dashboard usage export as JSON or CSV",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageExport"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/dashboard/activity": {
      "get": {
        "summary": "Return dashboard activity totals and recent request rows for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardUsageActivity"
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "dashboard.routes",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/events": {
      "get": {
        "summary": "List canonical event, webhook delivery, and stream records for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "events.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/events/export": {
      "get": {
        "summary": "Export filtered canonical events as JSON or NDJSON for support and operations",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "events.export",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/diagnostics/requests/{request_id}": {
      "get": {
        "summary": "Return request-id scoped diagnostics across usage, events, deliveries, streams, and artifacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "diagnostics.routes",
        "x-secapi-access": "org",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/diagnostics/deliveries/summary": {
      "get": {
        "summary": "Return aggregated webhook and stream delivery summaries for support workflows",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "diagnostics.routes",
        "x-secapi-access": "org",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/observability": {
      "get": {
        "summary": "Return operator-only observability configuration and provider seam status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "observability.config",
        "x-secapi-access": "operator",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/observability/export": {
      "get": {
        "summary": "Return an operator-only observability export with config, usage, and recent events",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "observability.export",
        "x-secapi-access": "operator",
        "x-secapi-kind": "ops",
        "x-secapi-docs": "internal",
        "x-secapi-smoke": "local"
      },
      "parameters": [
        {
          "name": "secapi-version",
          "in": "header",
          "required": false,
          "schema": {
            "type": "string",
            "default": "2026-03-19",
            "example": "2026-03-19"
          },
          "description": "Optional dated API version pin. Production clients should send this header so compatible behavior does not shift underneath them; unpinned requests default to the current published version."
        }
      ]
    },
    "/v1/webhook_endpoints": {
      "get": {
        "summary": "List webhook endpoints for the current organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "webhook_endpoints.collection",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "post": {
        "summary": "Create a signed webhook endpoint for artifact and stream events",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
[...]
